#idiom_container {
	height: 200px;
	align-items: center;
	justify-content: center;
	width: 100%;	
}
#idiom_container p  {
	text-align: center;
	font-size: 28px;
	line-height: 120%;
}
#idiom_container span {
	text-align: center;
	font-size: 14px;
	line-height: 100%;
	display:block;
}
